.menu-page {
    text-align: left;
}

.menu-page .menu-image-inicial ul {
    display: inline-flex;
    color: white;
}

.menu-inicial-descricao {
    margin-top: 200px;
    margin-left: 30px;
}

#menu-page-img-nome {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#menu-page-img-desc {
    text-decoration: underline;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin-left: 5px;
}

#menu-page-img-emoji {
    text-decoration: none;  
}

.menu-thomaz-img img {
    width: 700px;
    height: 400px;
    border-radius: 50px;
    margin-left: 330px;
    margin-top: 30px;
}

#title-menu-sobre-mim {
    position:relative;
    font-size: 50px;
    color: white;
    margin-left: 330px;
    margin-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#menu-sobre-mim-linha {
    width: 790px;
    text-align: left;
    position: relative;
    margin-left: 330px;
}

.menu-sobre-mim-texto {
    margin-left: 330px;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    margin-top: 25px;

}

.menu-sobre-mim-texto p {
    margin-top: 10px;
    position: relative;
}