<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiências</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/src/components/experiences/style.css">
</head>
<body>
    <div class="side-bar">
        <div class="side-bar-thomaz-img">
            <img src="/public/images/img-logo.png" alt="Imagem de Thomaz Gomes Szeckir">
            <p>Thomaz Gomes Szeckir</p>
        </div>

        <div class="side-bar-contact-items">
            <ul>
                <li><a href="https://github.com/Szeckir" target="_blank"><img src="/public/images/github-logo.png"
                            alt="Git Hub Logo"></a></li>
                <li><a href="https://www.instagram.com/thomazszeckir/" target="_blank"><img
                            src="/public/images/instagram-logo.png" alt="Instagram Logo"></a></li>
                <li><a href="https://www.linkedin.com/in/thomaz-szeckir/" target="_blank"><img
                            src="/public/images/linkedin-logo.png" alt="Linkedin Logo"></a></li>
                <li><a href="" target="_blank"><img src="/public/images/mail-logo.png" alt="Email Logo"></a></li>
            </ul>
        </div>

        <div class="side-bar-menu-list">
            <ul>
                <li><a href="/public/index.html">&#x1F3E0 Menu</a></li>
                <li><a href="/src/components/about/about.html">&#x1F464	 Sobre</a></li>
                <li><a href="/src/components/experiences/experiences.html">&#x1F9F3	Experiências</a></li>
                <li><a href="">&#x1F4DA Portifólio</a></li>
                <li><a href="">&#x1F4E5	Contato</a></li>
            </ul>
        </div>
    </div>

    <div class="experiences-container">

        <div class="experiences-menu">
            <ul> 
                <div class="experiences-item">
                    <li> 2020-2022 👉 E-commerce Lojas Virtuais </li>
                    <div class="experiences-item-description">
                        <p> - Ao longo dos anos de 2020 até 2022 pude entrar no mundo do marketing digital, me especializando em Lojas Virtuais sem estoque.</p>
                    </div>
                </div>
            </ul>
        </div>

        <div class="experiences-menu">
            <ul> 
                <div class="experiences-item">
                    <li> 2022-2023 👉 Tesoureiro do Grêmio estudantil </li>
                    <div class="experiences-item-description">
                        <p> - Durante o ano de 2022, pude participar da Gestão do Grêmio Estudantil do Colégio Marista Ipanema, onde pude me comunicar com diversas pessoas e participar de diversas ações sociais.</p>
                    </div>
                </div>
            </ul>
        </div>

        <div class="experiences-menu">
            <ul> 
                <div class="experiences-item">
                    <li> 2023-Atual 👉 Estágio de Desenvolvimento pela Orpen  </li>
                    <div class="experiences-item-description">
                        <p> - Na Orpen, atuo na área de monitoramento e desenvolvimento, utilizando Zabbix para administrar dashboards e monitorar sistemas em tempo real, juntamente mexendo em aplicações <b> JavaScript</b>, <b>HTML</b>, <b>CSS</b>, <b>React</b>, entre outras.</p>
                    </div>
                </div>
            </ul>
        </div>
    </div>

</body>
</html>