<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mim</title>
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="side-bar">
        <div class="side-bar-thomaz-img">
            <img src="/public/images/img-logo.png" alt="Imagem de Thomaz Gomes Szeckir">
            <p>Thomaz Gomes Szeckir</p>
        </div>

        <div class="side-bar-contact-items">
            <ul>
                <li><a href="https://github.com/Szeckir" target="_blank"><img src="/public/images/github-logo.png"
                            alt="Git Hub Logo"></a></li>
                <li><a href="https://www.instagram.com/thomazszeckir/" target="_blank"><img
                            src="/public/images/instagram-logo.png" alt="Instagram Logo"></a></li>
                <li><a href="https://www.linkedin.com/in/thomaz-szeckir/" target="_blank"><img
                            src="/public/images/linkedin-logo.png" alt="Linkedin Logo"></a></li>
                <li><a href="" target="_blank"><img src="/public/images/mail-logo.png" alt="Email Logo"></a></li>
            </ul>
        </div>

        <div class="side-bar-menu-list">
            <ul>
                <li><a href="/public/index.html">Menu</a></li>
                <li><a href="/src/components/about/about.html">Sobre</a></li>
                <li><a href="">Experiências</a></li>
                <li><a href="">Portifólio</a></li>
                <li><a href="">Contato</a></li>
            </ul>
        </div>
    </div>
</body>
</html>